body{
  background-color: rgba(151, 181, 154, 0.447);

}



.mainCont {
  
  width: 100vw;
  height: 100vh;

  
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}


img {
  display: flex;
max-width: 30vw;
}

#wfmc{
  border: 20px solid white;
}